.contact {
    @include desktop {
      padding: none;
    }
    @include mobile{
      padding: 15px;
    }

    &-subtitle {
        font-size: 14px;
        font-weight: 400;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
        letter-spacing: 3px;
    }
    &-form {
        border-radius: 10px;
        box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.1);
        padding: 50px 30px;
        margin-top: -150px;
        background: $white;
    }

    &-image {
      position: relative;
      text-align: center;
  
      &-shape1,     
      &-shape2{
        position: absolute;
        z-index: -1;
      }
  
      img {
        max-width: 100%;
      }
  
      &-shape1 {
        @include desktop {
          left: -13% !important;
        }
  
        @include tablet {
          left: -17% !important;
        }
      }

      &-shape2 {
        @include desktop {
          right: -7% !important;
        }
  
        @include tablet {
          right: -9% !important;
        }
      }
    }

}
