//site color variables
$body-color: #FFF;
$bg-color:#e8f9fd;
$primary-color: #ff1e00;
$secondary-color: #c2edda;
$text-color: #3F3F3F;
$text-color-dark: #202020;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #c2edda;

// solid colors
$white: #fff;
$black: #000;
$gold: #ffb766;

// Font Variables
$primary-font: 'Montserrat',sans-serif;